.ticket-to-ride {
  background-color: #413e3e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ticket-to-ride .overlap-wrapper {
  background-color: #413e3e;
  overflow: hidden;
  width: 1440px;
  height: 813px;
}

.ticket-to-ride .overlap {
  position: relative;
  width: 1491px;
  height: 928px;
  top: -63px;
  left: -51px;
}

.ticket-to-ride .overlap-group {
  position: absolute;
  width: 1491px;
  height: 866px;
  top: 62px;
  left: 0;
}

.ticket-to-ride .USA-map {
  position: absolute;
  width: 821px;
  height: 548px;
  top: 46px;
  left: 167px;
  object-fit: cover;
}

.ticket-to-ride .market {
  position: absolute;
  width: 443px;
  height: 82px;
  top: 553px;
  left: 356px;
}

.ticket-to-ride .orange-train-car {
  position: absolute;
  width: 53px;
  height: 82px;
  top: 0;
  left: 171px;
}

.ticket-to-ride .yellow-train-car {
  position: absolute;
  width: 53px;
  height: 82px;
  top: 0;
  left: 114px;
}

.ticket-to-ride .blue-train-car-card {
  position: absolute;
  width: 53px;
  height: 82px;
  top: 0;
  left: 57px;
}

.ticket-to-ride .red-train-car-card {
  position: absolute;
  width: 53px;
  height: 82px;
  top: 0;
  left: 0;
}

.ticket-to-ride .locomotive {
  position: absolute;
  width: 53px;
  height: 82px;
  top: 0;
  left: 228px;
}

.ticket-to-ride .hidden-train-car {
  position: absolute;
  width: 53px;
  height: 82px;
  top: 0;
  left: 335px;
}

.ticket-to-ride .hidden-destination {
  position: absolute;
  width: 53px;
  height: 82px;
  top: 0;
  left: 390px;
}

.ticket-to-ride .right-player {
  position: absolute;
  width: 638px;
  height: 101px;
  top: 273px;
  left: 813px;
  transform: rotate(90deg);
}

.ticket-to-ride .div {
  position: relative;
  width: 639px;
  height: 101px;
}

.ticket-to-ride .navbar {
  position: absolute;
  width: 616px;
  height: 15px;
  top: 86px;
  left: 23px;
}

.ticket-to-ride .red-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .blue-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 57px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .yellow-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 115px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .orange-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 172px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .green-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 229px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .pink-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 287px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .white-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 344px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .black-card-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 401px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .locomotives-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 457px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .secret-cards-count {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 511px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .destination-tickets {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 584px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .cards {
  position: absolute;
  width: 87px;
  height: 638px;
  top: -276px;
  left: 276px;
  transform: rotate(-90deg);
}

.ticket-to-ride .left-player {
  position: absolute;
  width: 638px;
  height: 101px;
  top: 269px;
  left: -268px;
  transform: rotate(-90deg);
}

.ticket-to-ride .overlap-2 {
  position: relative;
  width: 639px;
  height: 50px;
  top: 51px;
}

.ticket-to-ride .navbar-2 {
  position: absolute;
  width: 616px;
  height: 15px;
  top: 35px;
  left: 23px;
}

.ticket-to-ride .img {
  position: absolute;
  width: 36px;
  height: 638px;
  top: -301px;
  left: 301px;
  transform: rotate(90deg);
}

.ticket-to-ride .sidebar {
  position: absolute;
  width: 351px;
  height: 823px;
  top: 0;
  left: 1140px;
}

.ticket-to-ride .overlap-3 {
  position: relative;
  width: 355px;
  height: 826px;
  top: -1px;
  left: -2px;
  background-color: #313347;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px 3px #00000040;
}

.ticket-to-ride .this-game {
  position: absolute;
  width: 341px;
  height: 261px;
  top: -1px;
  left: 11px;
}

.ticket-to-ride .overlap-4 {
  position: relative;
  width: 339px;
  height: 261px;
}

.ticket-to-ride .player-list {
  position: absolute;
  width: 339px;
  height: 210px;
  top: 51px;
  left: 0;
}

.ticket-to-ride .overlap-5 {
  position: absolute;
  width: 343px;
  height: 105px;
  top: 105px;
  left: 0;
}

.ticket-to-ride .element-place-player {
  position: absolute;
  width: 343px;
  height: 54px;
  top: 51px;
  left: 0;
}

.ticket-to-ride .overlap-group-2 {
  position: relative;
  width: 339px;
  height: 54px;
}

.ticket-to-ride .rectangle {
  width: 257px;
  top: 1px;
  left: 0;
  background-color: #ff0000;
  position: absolute;
  height: 50px;
}

.ticket-to-ride .rectangle-2 {
  position: absolute;
  width: 77px;
  height: 50px;
  top: 1px;
  left: 257px;
  background-color: #000000;
}

.ticket-to-ride .score {
  width: 82px;
  height: 51px;
  top: 3px;
  left: 257px;
  color: #ffffff;
  font-size: 45px;
  position: absolute;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .name-text {
  position: absolute;
  width: 237px;
  height: 51px;
  top: 0;
  left: 0;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.ticket-to-ride .element-rd-place-player {
  position: absolute;
  width: 343px;
  height: 52px;
  top: 0;
  left: 0;
}

.ticket-to-ride .overlap-6 {
  position: relative;
  width: 339px;
  height: 52px;
}

.ticket-to-ride .rectangle-3 {
  position: absolute;
  width: 257px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #ff0000;
}

.ticket-to-ride .rectangle-4 {
  width: 77px;
  top: 0;
  left: 257px;
  background-color: #000000;
  position: absolute;
  height: 50px;
}

.ticket-to-ride .text-wrapper {
  position: absolute;
  width: 82px;
  height: 51px;
  top: 1px;
  left: 257px;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .element-nd-place-player {
  position: absolute;
  width: 343px;
  height: 52px;
  top: 52px;
  left: 0;
}

.ticket-to-ride .element-st-place-player {
  position: absolute;
  width: 343px;
  height: 51px;
  top: 0;
  left: 0;
}

.ticket-to-ride .overlap-7 {
  position: relative;
  width: 339px;
  height: 51px;
}

.ticket-to-ride .score-2 {
  width: 82px;
  height: 51px;
  top: 0;
  left: 257px;
  color: #ffffff;
  font-size: 45px;
  position: absolute;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .label {
  position: absolute;
  width: 236px;
  height: 51px;
  top: 0;
  left: 42px;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ticket-to-ride .match-stats {
  position: absolute;
  width: 352px;
  height: 373px;
  top: 256px;
  left: 0;
}

.ticket-to-ride .player {
  position: absolute;
  width: 328px;
  height: 79px;
  top: 302px;
  left: 12px;
}

.ticket-to-ride .player-2 {
  position: absolute;
  width: 328px;
  height: 79px;
  top: 220px;
  left: 12px;
}

.ticket-to-ride .player-3 {
  position: absolute;
  width: 328px;
  height: 79px;
  top: 138px;
  left: 12px;
}

.ticket-to-ride .player-4 {
  position: absolute;
  width: 328px;
  height: 79px;
  top: 56px;
  left: 12px;
}

.ticket-to-ride .label-2 {
  width: 350px;
  height: 51px;
  top: 0;
  left: 0;
  font-family: "Impact-Regular", Helvetica;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.ticket-to-ride .current-player {
  position: absolute;
  width: 1440px;
  height: 222px;
  top: 644px;
  left: 51px;
}

.ticket-to-ride .overlap-8 {
  position: relative;
  height: 222px;
}

.ticket-to-ride .background {
  position: absolute;
  width: 1102px;
  height: 175px;
  top: 1px;
  left: 0;
  background-color: #dee1f1;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 3px 0px 4px 3px #00000040;
}

.ticket-to-ride .cards-2 {
  position: absolute;
  width: 899px;
  height: 142px;
  top: 80px;
  left: 33px;
}

.ticket-to-ride .black-train-car-card {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 709px;
}

.ticket-to-ride .white-train-car-card {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 608px;
}

.ticket-to-ride .purple-train-car {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 507px;
}

.ticket-to-ride .green-train-car-card {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 405px;
}

.ticket-to-ride .orange-train-car-2 {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 303px;
}

.ticket-to-ride .yellow-train-car-2 {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 202px;
}

.ticket-to-ride .blue-train-car-card-2 {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 101px;
}

.ticket-to-ride .red-train-car-card-2 {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 0;
}

.ticket-to-ride .locomotive-2 {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0;
  left: 810px;
}

.ticket-to-ride .card-counts {
  position: absolute;
  width: 844px;
  height: 29px;
  top: 51px;
  left: 70px;
}

.ticket-to-ride .locomotives-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 810px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .black-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 710px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .white-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 608px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .pink-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 507px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .green-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 405px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .orange-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 304px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .yellow-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 203px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .blue-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 101px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .red-card-count-2 {
  position: absolute;
  width: 16px;
  height: 29px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .list-of-destination {
  position: absolute;
  width: 354px;
  height: 176px;
  top: 0;
  left: 1086px;
}

.ticket-to-ride .overlap-9 {
  position: relative;
  width: 360px;
  height: 176px;
}

.ticket-to-ride .ticket {
  top: 131px;
  position: absolute;
  width: 360px;
  height: 45px;
  left: 0;
}

.ticket-to-ride .overlap-group-3 {
  position: relative;
  width: 354px;
  height: 39px;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.ticket-to-ride .city-b {
  top: 11px;
  left: 15px;
  position: absolute;
  width: 105px;
  height: 24px;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  color: #763d07;
  font-size: 27px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .city-a {
  top: 10px;
  left: 231px;
  text-align: right;
  position: absolute;
  width: 105px;
  height: 24px;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  color: #763d07;
  font-size: 27px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .score-3 {
  width: 40px;
  height: 32px;
  top: 3px;
  left: 156px;
  color: #362301;
  font-size: 35px;
  position: absolute;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .overlap-group-wrapper {
  top: 87px;
  position: absolute;
  width: 360px;
  height: 45px;
  left: 0;
}

.ticket-to-ride .overlap-10 {
  position: relative;
  width: 354px;
  height: 45px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.ticket-to-ride .div-wrapper {
  top: 44px;
  position: absolute;
  width: 360px;
  height: 45px;
  left: 0;
}

.ticket-to-ride .overlap-11 {
  position: relative;
  width: 354px;
  height: 45px;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.ticket-to-ride .ticket-2 {
  top: 0;
  position: absolute;
  width: 360px;
  height: 45px;
  left: 0;
}

.ticket-to-ride .overlap-12 {
  position: relative;
  width: 354px;
  height: 45px;
  background-image: url(./img/vector-3.svg);
  background-size: 100% 100%;
}

.ticket-to-ride .name {
  position: absolute;
  width: 325px;
  height: 30px;
  top: 1px;
  left: 1px;
}

.ticket-to-ride .name-text-wrapper {
  position: relative;
  height: 30px;
  background-image: url(./img/name-card.svg);
  background-size: 100% 100%;
  border: none;
  background: none;
  width: 267px;
  font-family: "Impact-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 0;
  padding-left: 14px;
}

.ticket-to-ride .train-counter {
  position: absolute;
  width: 144px;
  height: 124px;
  top: 40px;
  left: 939px;
}

.ticket-to-ride .overlap-13 {
  position: relative;
  width: 140px;
  height: 124px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.ticket-to-ride .text-wrapper-2 {
  position: absolute;
  width: 35px;
  height: 23px;
  top: 70px;
  left: 92px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ticket-to-ride .train-car-image {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 47px;
  left: 11px;
  object-fit: cover;
}

.ticket-to-ride .label-3 {
  width: 86px;
  height: 21px;
  top: 9px;
  left: 4px;
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
  font-size: 16px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.ticket-to-ride .opposite-player {
  position: absolute;
  width: 659px;
  height: 101px;
  top: 0;
  left: 250px;
}

.ticket-to-ride .navbar-3 {
  position: absolute;
  width: 636px;
  height: 14px;
  top: 87px;
  left: 24px;
}

.ticket-to-ride .red-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .blue-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 60px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .yellow-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 120px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .orange-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 180px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .green-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 240px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .pink-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 300px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .white-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 360px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .black-card-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 420px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .locomotives-count-3 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 478px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .secret-cards-count-2 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 535px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .destination-tickets-2 {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0;
  left: 604px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ticket-to-ride .cards-3 {
  position: absolute;
  width: 659px;
  height: 24px;
  top: 63px;
  left: 0;
}
